@use '../config/' as config;

.about__container {
  row-gap: 6rem;

  .about__data {
    grid-template-columns: 1fr;

    @include config.breakpoint-up(small) {
      grid-template-columns: 1.2fr 1fr;
      column-gap: 2rem;
    }

    @include config.breakpoint-up(big) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 0rem;
    }

    &-title {
      font-size: var(--h2-font-size);
      font-weight: var(--font-medium);
      line-height: 40px;
      margin-bottom: 2rem;
      order: 1;
      width: 15ch;

      @include config.breakpoint-down(small) {
        line-height: 35px;
        width: auto;
      }

      @include config.breakpoint-up(small) {
        order: 2;
      }

      @include config.breakpoint-up(medium) {
        justify-self: center;
      }

      @include config.breakpoint-up(large) {
        width: auto;
        line-height: 76px;
      }
    }

    &-description {
      order: 2;

      @include config.breakpoint-up(small) {
        order: 1;
      }

      p {
        color: var(--text-color);
        margin-bottom: 3rem;

        @include config.breakpoint-up(medium) {
          width: 48ch;
        }

        @include config.breakpoint-up(large) {
          width: auto;
        }

        @include config.breakpoint-up(big) {
          width: 48ch;
        }
      }
    }  
  }

  .about__info {
    grid-template-columns: 1fr;

    @include config.breakpoint-up(medium) {
      grid-template-columns: 1fr 1fr;
    }

    .about__image {
      display: none;
      border-radius: 20px 200px 20px 20px;
      overflow: hidden;
      width: 350px;

      @include config.breakpoint-up(medium) {
        display: block;
      }

      @include config.breakpoint-up(large) {
        width: 450px;
      }

      @include config.breakpoint-up(big) {
        width: 520px;
      }
    }

    .about__list {
      row-gap: 4rem;

      @include config.breakpoint-up(medium) {
        margin-top: 6rem;
        row-gap: 0rem;
      }
      
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 2rem;

        @include config.breakpoint-down(smaller) {
          column-gap: 1.5rem;
        }

        @include config.breakpoint-up(big) {
          // align-items: flex-end;
          column-gap: 6rem;
        }

        img {
          width: 9rem;

          @include config.breakpoint-up(large) {
            width: initial;
          }
        }

        p {
          font-size: var(--normal-font-size);
          color: var(--text-color);

          @include config.breakpoint-up(big) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}