@use '../config/' as config;

.blog__data {
  .blog__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semibold);
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1rem;
  }

  .blog__description {
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--text-color);
    margin-bottom: 4rem;

    @include config.breakpoint-up(small) {
      width: 60ch;
      margin-inline: auto;
    }
  }
}

.blog__posts {
  row-gap: 1.5rem;
  grid-template-columns: 1fr;
  justify-items: center;

  @include config.breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }

  .post {
    position: relative;
    width: 30rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    @include config.breakpoint-down(smaller) {
      width: 25rem;
    }
    
    @include config.breakpoint-down(smaller) {
      width: 22rem;
    }

    @include config.breakpoint-up(medium) {
      width: 35rem;
    }

    img {  
      transition: .3s;
    }

    &:hover {
      img {
        transform: scale(1.1);      
      }
    }

    &__info {
      position: absolute;
      bottom: 0;

      padding: 0 2.5rem 2rem 2.5rem;
      text-align: center;
      color: var(--white-color);

      @include config.breakpoint-down(smaller) {
        padding: 0 2rem 1rem 2rem;
      }

      h4 {
        font-size: var(--medium-font-size);
        font-weight: var(--font-medium);
        margin-bottom: 1rem;
      }

      p {
        font-size: var(--small-font-size);
        padding: 0 3rem;

        @include config.breakpoint-down(smaller) {
          padding: 0 1rem;
        }
      }
    }
  }
}