@use '../config/' as config;

.contact__data {
  .contact__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semibold);
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1rem;
  }

  .contact__description {
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--text-color);
    margin-bottom: 4rem;

    @include config.breakpoint-up(small) {
      width: 60ch;
      margin-inline: auto;
    }

    @include config.breakpoint-up(big) {
      margin-bottom: 8rem;
    }
  }
}

.contact__form-container {
  @include config.breakpoint-up(big) {
    grid-template-columns: 1fr 1.5fr;
    gap: 6rem;
  }

  .contact__form {
    row-gap: 1.5rem;

    @include config.breakpoint-up(medium) {
      justify-content: center;
    }

    @include config.breakpoint-up(big) {
      justify-content: start;
    }

    input, textarea {
      font-size: var(--normal-font-size);
      color: #999999;
      padding: 1.5rem 2rem;
      background-color: #F9F9F9;
      border-radius: 5px;
      border: none;
      outline-color: var(--first-color);

      @include config.breakpoint-up(medium) {
        width: 50rem;
      }

      @include config.breakpoint-up(big) {
        font-size: 1.8rem;
        padding: 1.8rem 2.3rem;
      }
    }

    textarea {
      height: 12rem;
      resize: none;

      @include config.breakpoint-up(big) {
        height: 22rem;
      }
    }

    .button-form {
      font-size: var(--normal-font-size);
      width: 15rem;

      @include config.breakpoint-up(medium) {
        width: 25rem;
      }
    }
  }

  .contact__map {
    display: none;

    @include config.breakpoint-up(big) {
      display: block;
    }
  }
}