@use '../config/' as config;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .3s;

  &.header-scroll {
    background-color: var(--white-color);
    box-shadow: 0px 5px 10px 2px hsla(0, 0%, 20%, 0.05);

    .nav {
      height: calc(var(--header-height) - 1.5rem);

      @include config.breakpoint-up(big) {
        height: var(--header-height);
  
        .menu__link {
          font-size: var(--normal-font-size);
          color: var(--text-color);
          transition: .3s;

          &:hover {
            color: var(--first-color);
          }
        }

        .logo {
          font-size: 2rem;
        } 
      }
    }
  }

  .nav {
    height: var(--header-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;

    @include config.breakpoint-up(big) {
      height: calc(var(--header-height) + 8rem);
    }

    .logo {
      display: inline-block;
      font-size: 2rem;
      font-weight: var(--font-semibold);
      text-transform: uppercase;
      color: var(--first-color);
      transition: .3s;

      @include config.breakpoint-up(big) {
        font-size: 3rem;
      }
    }   
       
    .menu__open {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 10px 0;
      cursor: pointer;

      @include config.breakpoint-up(big) {
        display: none;
      }
      
      span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--title-color);
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
  
      &.active {
        .line:nth-child(2) {
          opacity: 0;
        }
  
        .line:nth-child(1) {
          @include config.transform(-45, translate(3px, 8px));
        }
  
        .line:nth-child(3) {
          @include config.transform(45, translate(3px, -8px));
        }
      }
    }
  }

  @include config.breakpoint-down(large) {  
    .nav__menu {
      position: absolute;
      width: calc(100% - 2.4rem);
      top: -350px;
      left: 50%;
      transform: translate(-50%, 0);
      
      margin-top: calc(var(--header-height) + 1rem);
      padding: 2.5rem;
      border-radius: 10px;
      background-color: var(--white-color);
      box-shadow: 0px 5px 10px 2px hsla(0, 0%, 20%, 0.085);
      transition: .35s ease-out;

      .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;

        .menu__link {
          color: var(--text-color);
          padding: 5px;
          transition: .3s;

          &:hover {
            color: var(--first-color);
          }
        }
      }
    }

    // open nav menu when clicked
    .nav__menu.show-menu {
      visibility: visible;
      top: 0;
    }
  }

  @include config.breakpoint-up(big) {
    .menu__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 6rem;

      .menu__link {
        position: relative;
        font-size: var(--normal-font-size);
        font-weight: var(--font-normal);
        color: var(--white-color);

        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 2px;
          bottom: -4px;
          background-color: var(--white-color);
          border-radius: 5px;
          transition: .3s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}