@use '../config/' as config;

.hero {
  margin-top: calc(var(--header-height) + 6rem);

  @include config.breakpoint-up(large) {
    margin-top: calc(var(--header-height) + 10rem);
  }

  .hero__container {
    position: relative;
    row-gap: 4rem;

    @include config.breakpoint-up(big) {
      row-gap: 13rem;
    }

    .hero__title {
      font-size: var(--h1-font-size);
      font-weight: var(--font-bold);
      line-height: 4.2rem;
      color: var(--title-color);
      margin-bottom: 3rem;
      width: 15ch;

      @include config.breakpoint-down(small) {
        width: auto;
      }

      @include config.breakpoint-up(small) {
        line-height: 5.5rem;
      }

      @include config.breakpoint-up(large) {
        line-height: 8.4rem;
        margin-bottom: 4rem;
      }
      
      span {
        color: var(--first-color);
      }
    }

    .hero__description {
      color: var(--text-color);
      margin-bottom: 3rem;

      @include config.breakpoint-up(small) {
        width: 50ch;
      }
    }

    .hero__buttons {
      margin-bottom: 4rem;

      @include config.breakpoint-up(large) {
        margin-bottom: 8rem;
      }
    }

    .hero__numbers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;

      @include config.breakpoint-down(smaller) {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        row-gap: 2rem;
      }

      @include config.breakpoint-up(big) {
        display: flex;
        column-gap: 6rem;
      }

      &-title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        line-height: 1;
        color: var(--title-color);
      }

      span {
        font-size: var(--small-font-size);
        color: var(--text-color);
      }
    }

    .hero__sponsor-container {
      display: none;

      @include config.breakpoint-up(big) {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }

      @include config.breakpoint-up(large) {
        grid-template-columns: 1fr;
        row-gap: 4rem;
      }

      .hero__sponsor {
        display: none;
        
        @include config.breakpoint-up(big) {
          display: flex;
          justify-content: center;
          align-items: center;
          order: 2;
          width: 100%;
          height: 20rem;
          background-color: hsla(0, 0%, 0%, 0.02);
          border-radius: 100px;
  
          ul {
            display: flex;
            column-gap: 11rem;
            justify-content: center;
            row-gap: 4rem;
          }
        }
      }
  
      .hero__image {
        @include config.breakpoint-up(big) {
          border-radius: 20px 20px 20px 200px;
          position: absolute;
          top: -150px;
          right: -80px;
          border-radius: 20px 20px 20px 300px;
          overflow: hidden;
        }
      }
    }
  }
}