@use '../config/' as config;

.message {
  background-image: url('/app/img/message.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.message__container {
  padding: 4rem 0;

  @include config.breakpoint-up(large) {
    padding: 18rem;
  }
}

.message__data {
  .message__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color);
    text-align: center;
    margin-bottom: 2rem;

    @include config.breakpoint-up(large) {
      margin-bottom: 6rem;
    }
  }

  p {
    font-size: var(--small-font-size);
    color: var(--white-color);

    @include config.breakpoint-up(small) {
      font-size: var(--normal-font-size);
    }
  }

  & > p {
    margin-bottom: 2rem;

    @include config.breakpoint-up(large) {
      line-height: 30px;
      margin-bottom: 6rem;
    }
  }
}