@use '../config/' as config;

.newsletter {
  text-align: center;

  &__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semibold);
    line-height: 1.3;
    color: var(--title-color);
    margin-bottom: 2rem;

    @include config.breakpoint-up(big) {
      margin-bottom: 4rem;
    }
  }

  &__description {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: 2rem;

    @include config.breakpoint-up(small) {
      width: 60ch;
      margin-inline: auto;
    }

    @include config.breakpoint-up(big) {
      margin-bottom: 4rem;
    }
  }
}